* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

#app {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.top-bar {
  width: 40rem;
  color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

#add-btn {
  padding: 0.7rem 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(23, 32, 52, 0.929);
  color: whitesmoke;
}

#add-btn:hover {
  background-color: rgb(23, 32, 52);
}

.bm-card {
  color: white;
}
